<% layout("layouts/boilerplate") %>
<body id="ho">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/first image AT.png" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <div class="carousel-item">
        <img src="/images/attendence img.png" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- -------------------departments and semesters-cards---------------- -->
  <!----------------- bachelors of computer applications  -->

  <div class="home_student">
    <a href="/students/new" class="all_stu">Add New Students</a>
    <a href="/students" class="all_stu">See All Students</a>
  </div>
  <h2 class="track-at">&#x2B50; Track Attendence and Get Information</h2>
  <div class="sem-student">
    <h3>Department :- Bachelor of Computer Application</h3>
    <div class="container">
      <div class="row">
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=bca&sem=1" class="btn btn-primary"
                >SEMESTER 1</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=bca&sem=2" class="btn btn-primary"
                >SEMESTER 2</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=bca&sem=3" class="btn btn-primary"
                >SEMESTER 3</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=bca&sem=4" class="btn btn-primary"
                >SEMESTER 4</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=bca&sem=5" class="btn btn-primary"
                >SEMESTER 5</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=bca&sem=6" class="btn btn-primary"
                >SEMESTER 6</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- department b tech  -->

  <div class="sem-student">
    <h3>Department :- Bachelor of Technology</h3>
    <div class="container">
      <div class="row">
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=btech&sem=1" class="btn btn-primary"
                >SEMESTER 1</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=btech&sem=2" class="btn btn-primary"
                >SEMESTER 2</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=btech&sem=3" class="btn btn-primary"
                >SEMESTER 3</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=btech&sem=4" class="btn btn-primary"
                >SEMESTER 4</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=btech&sem=5" class="btn btn-primary"
                >SEMESTER 5</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=btech&sem=6" class="btn btn-primary"
                >SEMESTER 6</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- department information technology -->

  <div class="sem-student">
    <h3>Department :- Bachelor of Information Technology</h3>
    <div class="container">
      <div class="row">
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=IT&sem=1" class="btn btn-primary"
                >SEMESTER 1</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=IT&sem=2" class="btn btn-primary"
                >SEMESTER 2</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=IT&sem=3" class="btn btn-primary"
                >SEMESTER 3</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=IT&sem=4" class="btn btn-primary"
                >SEMESTER 4</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=IT&sem=5" class="btn btn-primary"
                >SEMESTER 5</a
              >
            </div>
          </div>
        </div>
        <div class="card col-md-4 col-lg-4 px-3">
          <div class="outer-card">
            <div class="card-body">
              <a href="/students?dept=IT&sem=6" class="btn btn-primary"
                >SEMESTER 6</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
